@model BSData.Models.clsAction_MenuItems
@using BSData.Models;
@using BSData.Classes;
@using System.Text;
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="lt" lang="lt">
<head>
   <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
   <link href="@Url.Content("~/Content/css-print.min.css")" rel="stylesheet" media="print" type="text/css" />
   @*   <link href="@Url.Content("~/Content/css-screen.min.css")" rel="stylesheet" media="screen" type="text/css" />
   <link href="../../Content/dataTables.css" rel="stylesheet" type="text/css" />
   <link href="../../Content/jquery-ui-custom.css" rel="stylesheet" type="text/css" />
*@ <link href="../../Content/merged1.min.css" rel="stylesheet" type="text/css" />
   <title>@ViewBag.Title</title>
</head>
<body>
   <!-- For non-visual user agents:
   <div id="top">
      <a href="#main-copy" class="doNotDisplay doNotPrint">Skip to main content.</a></div>-->
   <!-- ##### Header ##### -->
   <div id="header" data-user='{"Id":@UserData.UserID,"Name":"@UserData.UserName","Email":"@UserData.Email"}'>
      @{ Html.RenderAction("Header", "Account"); }
      <div class="midHeader">
         <div class="left">
            Šiandien @BSData.Classes.Date.GetFullDate()</div>
         <div class="right">@Html.Partial("_LogOnPartial")</div>
         <div style="clear: both">
         </div>
      </div>
      <div class="subHeader">
         @{
            foreach (var Tab in Model.Tabs) {
               if (ViewBag.Title == Tab.Name) { <a href="../@Tab.Controller/Start" data-Controller='@Tab.Controller' class='highlight'>@Tab.Name</a>}
               else { <a href="../@Tab.Controller/Start" data-Controller='@Tab.Controller'>@Tab.Name</a> }
            }
         }
      </div>
   </div>
   <div id="side-bar">
      @{IQueryable<Action_Menu> Menus = null;
        foreach (var Group in Model.MenuGroups) {
           Menus = (from m in Model.Menus where m.GroupID == Group.ID orderby m.OrderNo select m);
         @:<div><p class="sideBarTitle">@Group.Name</p><ul> <!------------------------->
foreach (var M in Menus) { <li><a data-Action='@M.Action' href="#">› @M.Name</a></li> } @:</ul></div> <!------------------------->
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     }}
   </div>
   <div id="main-copy">
   </div>
   @* @RenderBody()*@ <!-- ##### Footer ##### -->
   <div id="footer">
      <div class="left">
         E-paštas: bsdata@bs.lt@*&nbsp;<a href="./index.html" title="Email webmaster">webmaster@your.company.com</a>*@<br />
         <a href="./index.html" class="doNotPrint">Susisiekite su mumis</a>
      </div>
      <br class="doNotDisplay doNotPrint" />
      <div class="right">
         ©2011 UAB "Budrus sakalas"<br />
         <a href="http://www.bs.lt" class="doNotPrint">www.bs.lt</a>
      </div>
   </div>
   <script src="@Url.Content("~/Scripts/Final/merged3.min.js")" type="text/javascript"></script>
   @*<script src="@Url.Content("~/Scripts/Plugins/jquery-1.7.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/fauxconsole.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/jquery-ui-1.8.15.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/jquery.dataTables.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/json2.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/Plugins.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/jquery.validity.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/Plugins/swfupload.js")" type="text/javascript"></script>*@ <script src="@Url.Content("~/Scripts/Final/mergedGenera3.min.js")" type="text/javascript"></script>
   @*<script src="@Url.Content("~/Scripts/General/Server.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/General.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/objFunc.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/clsGrid.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/Start.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/clsDialogUi.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/clsEditableForm.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/MyPlugins2.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/MyPlugins.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/General/MyPlugins_ComboBox.js")" type="text/javascript"></script>*@ <script src="../../Scripts/Form/Clients_ClientsList_Grid.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Clients_NewClient.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Contracts_NewNo.js" type="text/javascript"></script>
   @*   <script src="../../Scripts/Form/Docs_Contracts_New_Object.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Docs_Contracts_New_Other.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Docs_ContractsObjects_Grid.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Docs_ContractsOther_Grid.js" type="text/javascript"></script>
   <script src="../../Scripts/Form/Docs_ContractsUnsigned_Grid.js" type="text/javascript"></script>*@ <script src="../../Scripts/Form/Title_MyEvents.js" type="text/javascript"></script>
   @*<script src="../../Scripts/Form/forms.merged.min.js" type="text/javascript"></script> *@ @* <script src="../../Scripts/Plugins/Plugins.js" type="text/javascript"></script>
    <script src="../../Scripts/Plugins/swfupload.js" type="text/javascript"></script>
*@</body>
</html>