@model BSData.Models.tblClient
<div>
   <div id="divClientData" data-ctrl='{"NewRec":0,id:@Model.ID,"Source":"tblClient1","tblUpdate":"tblClients"}' style="margin: 1em 0;">
      <fieldset style="display: inline-block; vertical-align: top; text-align: left;"><legend>Įmonė</legend>
         <div>
            <span class='EditInPlace' data-ctrl='{"Field":"Name"}'>@Model.Name</span><span>, įm. kodas </span>
            <span class='EditInPlace' style="display:inline-block;width:9em;" data-ctrl='{"Field":"Code","Plugin":{"mask":{"mask":"###-###-###"}}}'>@Model.Code</span>
         </div>
         <div class='EditInPlace' data-ctrl='{"Field":"TownID"}'>@Model.tblTown.Name</div>
         <div class='EditInPlace' data-ctrl='{"Field":"Address"}'>@Model.Address</div>
         <div class='EditInPlace' data-ctrl='{"Field":"Description"}'>@Model.Description</div>
      </fieldset>
      <fieldset style="display: inline-block; vertical-align: top; text-align: left;"><legend>Kontaktiniai duomenys</legend>
         <div class='EditInPlace' data-ctrl='{"Field":"Contact"}'>@Model.Contact</div>
         <div class='EditInPlace' data-ctrl='{"Field":"ContactDetails"}'>@Model.ContactDetails</div>
         <div class='EditInPlace' data-ctrl='{"Field":"Email"}'>@Model.Email</div>
      </fieldset>
      <fieldset style="display: inline-block; vertical-align: top; text-align: left;"><legend>Sekantis kontaktas</legend>
         <div class='EditInPlace' data-ctrl='{"Field":"NextContactDate","Plugin":{"datepicker":{"minDate":"0","maxDate":"+3y"}}}'>@((Model.NextContactDate.HasValue) ? Model.NextContactDate.Value.ToString("yyyy-MM-dd") : "-")</div>
         <div class='EditInPlace' data-ctrl='{"Field":"NextContactUserID"}'>@(Model.NextContactUserID.HasValue ? Model.tblUser.LastName + " " + Model.tblUser.Name : "-")</div>
         <div class='EditInPlace' data-ctrl='{"Field":"NextContactContractFormID"}'>@(Model.NextContactContractFormID.HasValue ? Model.tblContracts_Form.Name : "-")</div>
         <div class='EditInPlace' data-ctrl='{"Field":"Notes"}'>@Model.Notes</div>
      </fieldset>
   </div>
   <table id="tblEvents" data-ctrl='{"uid":@BSData.Classes.UserData.UserID}' class='display' border="0" cellpadding="0" cellspacing="0">
   </table>
</div>
@*data-ctrl='{"NewRec":1,"Source":"proc_Drivers","tblUpdate":"tblDrivers"@((Model.NewRec == 1) ? "" : ",\"id\":" + Model.Driver.ID)}'>
<div class='ExtendIt' data-ctrl='{"Value":"@Model.Driver.DateExpierence", "Field":"DateExpierence","classes":"UpdateField","id":"DateExpierence","labelType":"Left", "Type":"DateLess", "Default":"Today", "Plugin":["datepicker"] }'>
*@